#postEditorWrapper {
    display: flex;
    min-height: 100vh;
}

#postEditorWrapper .side-nav {
    flex-basis: 310px;
    flex-shrink: 0;
    transition: transform 0.20s ease-in-out;
    z-index: 538;
    transform: translateX(0px);
}

#postEditorWrapper .main-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 0;
    flex-grow: 1;
    transition: all 0.20s ease-in-out;
    justify-content: flex-start;
    background: #ecf0f3;
}

#postEditorWrapper.collapsed .side-nav {
    transform: translateX(310px);
    visibility: hidden;
}

#postEditorWrapper.collapsed .main-content {
    margin-right: -310px;
}