/* start profile css */
.card .card-image {
    width: 100%;
    overflow: hidden;
    height: 260px;
    border-radius: 4px 4px 0 0;
    position: relative;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d
}

.card .card-image img {
    width: 100%
}

.card .avatar {
    height: 100%;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 5px
}

.card .description {
    font-size: .875rem;
    color: #333
}

.card .card-footer {
    padding: 15px 15px 10px;
    background-color: transparent;
    line-height: 30px;
    border-top: none !important;
    font-size: 14px
}

.card .card-footer .legend {
    padding: 5px 0
}

.card .card-footer hr {
    margin-top: 5px;
    margin-bottom: 5px
}

.card .stats {
    color: #a9a9a9
}

.card .author {
    font-size: .75rem;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear
}

.card .author i {
    font-size: .875rem
}

.card.card-separator:after {
    height: 100%;
    right: -15px;
    top: 0;
    width: 1px;
    position: absolute
}

.card-user .card-image {
    height: 110px
}

.card-user .card-image-plain {
    height: 0;
    margin-top: 110px
}

.card-user .author {
    text-align: center;
    text-transform: none;
    margin-top: -100px
}

.card-user .author-image {
    width: 124px;
    height: 124px;
    position: relative;
    margin-bottom: 15px
}

.card-user .author-image.border-gray {
    border-color: #eee
}

.card-user .title {
    line-height: 24px
}

.card-user .card-body {
    min-height: 240px
}

.card-user .card-header.no-padding {
    padding: 0
}

.card-user .card-footer .button-container .btn {
    font-size: 16px
}

.card-user .card-footer,
.card-price .card-footer {
    padding: 5px 15px 10px
}

.card-user hr,
.card-price hr {
    margin: 5px 15px
}

/* end profile css */

/* start profile avatar */
.avatar-wrapper {
    position: relative;
    height: 200px;
    width: 200px;
    margin: 50px auto;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 1px 1px 15px -5px black;
    transition: all .3s ease;

    &:hover {
        transform: scale(1.05);
        cursor: pointer;
    }

    &:hover .upload-button .arrow-circle-up {
        opacity: .9;
    }

    .profile-pic {
        height: 100%;
        width: 100%;
        transition: all .3s ease;

        &:after {
            font-family: FontAwesome;
            content: "\f007";
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            position: absolute;
            font-size: 190px;
            background: #ecf0f1;
            color: #34495e;
            text-align: center;
        }
    }


    .upload-button {
        height: 100%;
        width: 100%;

        .arrow-circle-up {
            font-size: 50px;
            line-height: 0;
            top: -17px;
            left: 0;
            text-align: center;
            opacity: 0;
            transition: all .3s ease;
            color: #34495e;
        }

    }
}

/* end profile avatar */